{{ define "main" }}
<article class="h-entry">
    <header class="entry-header">
        <h1 class="p-name"><a class="u-bookmark-of" href="{{ .Params.link }}">{{ .Title }}</a></h1>
        {{ partial "entry-meta.html" . }}
        {{ partial "webmentions/response-line.html" . }}
    </header>
    <div class="e-content">{{ .Content }}</div>
    {{ with .GetTerms "tags" }}<p class="meta tags">Topics: {{ range $i, $tag := . }}{{ if $i }}, {{ end }}<a class="p-category" href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>{{ end }}</p>{{ end }}
</article>
{{ partial "entry-navigation.html" . }}
{{ end }}
